.page {
    background-color: rgb(237, 237, 237);
}
.cardStyle {
    background-color: #fff;
    color: rgb(43, 43, 43);
    border-color: darkblue;
    border-width: 2px;
}
.cardContent {
    margin: 10;
    padding: 5;
    font-size: 15;
    height: 140vh;
    color:  #2f4f4f;
}
.title{
    color: darkred;
    text-align: center;
    font-weight: bold;
}
.actionBarContainer{
  background-color: crimson;
}
.actionLabel{
  color: white;
}
.gridContainer{
  padding-top: 15vh;
  height: 600vh
}
